@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font16: 16px
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body{
    font-family: 'Fira Sans', sans-serif;
  }
  p{
    font-size: 16px;
    line-height: 25px;
  }
  .container{
    max-width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
  .menu_overflow{
    overflow: hidden;
  }
  .home_text p{
    margin-bottom: 10px;
  }
  
  .home_text a{
    color: rgb(67 84 164);
  }
  .sho_now{
    position: relative;
    animation:  animate 2.5s linear infinite;
  }
  .flip_partner_main {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

img.flip_partner_img {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.partner_flip_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #4354a4;
    width: 100%;
    height:100%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.flip_partner_main:hover img.flip_partner_img{
        -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.flip_partner_main:hover .partner_flip_text{
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.home_text p a{
  color: #000;
  text-decoration: underline;
}
.prod_btn:hover svg path{
  fill:#4354a4;
}
.slick-cloned+.slick-current+.slick-cloned {
  display: none;
}
.main_prod_slider .slick-list {
  margin-left: auto;
  max-width: 85%;
}
.main_prod_slider .slick-dots {
  top: 0;
  bottom: unset;
  width: 80px;
  height: 100%;
  margin-right: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.main_prod_slider .slick-dots ul.prod_cust_list {width: 100%;height: 100%;position: relative;}
.main_prod_slider .slick-dots ul.prod_cust_list li {
    width: 75px;
    display: block;
    height: 75px;
    margin-bottom: 20px;
}

.main_prod_slider .slick-slider {
    overflow: hidden;
}
ul.prod_cust_list li img {
  object-fit: cover;
}
.main_prod_slider .slick-dots ul.prod_cust_list li.slick-active {position: relative;}

.main_prod_slider .slick-dots ul.prod_cust_list li.slick-active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 2px;
  z-index: 1;
}
.footer_top_curve .header-wave {
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: -3px;
}
.footer_top_curve .header-wave svg.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -5px;
  min-height: 50px;
  max-height: 50px;
}
.footer_top_curve .header-wave svg.waves g.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.footer_top_curve .header-wave svg.waves g.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.footer_top_curve .header-wave svg.waves g.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.footer_top_curve .header-wave svg.waves g.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #251048;
}
.footer_top_curve .header-wave svg.waves g.parallax>use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.prod_scroll{
  scrollbar-width: none;
}

@keyframes move-forever{
0% {
  transform: translate3d(-90px, 0, 0);
}
100% {
  transform: translate3d(85px, 0, 0);
}
}
.manufac_logo_inner {
  animation: translateFull 40s linear infinite;
}

@keyframes translateFull {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
  }
  
  .manufac_logo:hover .manufac_logo_inner {
    animation-play-state: paused;
  }
  


@keyframes animate{
  0%{opacity: 0.2;}
  25%{opacity: .4;}
  50%{opacity: .6;}
  75%{opacity: .8;}
  50%{opacity: 1;}
}
  @media (max-width: 767px){
  .container{
    padding: 0 20px;
  }
  p{
    font-size: 13px;
    line-height: 25px;
  }
  .main_prod_slider .slick-dots ul.prod_cust_list li {
    width: 60px;  
    height: 60px;
}
.main_prod_slider .slick-list {
  max-width: 75%;
}
}
}
